# Dependencies
node_modules/

# Environment variables
.env
.env.local

# Database
*.db
*.sqlite

# Logs
logs/
*.log

# Uploads
uploads/*
!uploads/.gitkeep

# Build
dist/
build/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
